#notebook{
  margin-left: 25px;
  margin-right: 25px;
  width: 820px;
}

h1{
  margin-top: 25px;
  margin-bottom: 0px;
  font-size: 75px;
}

body{
  background-color: #ffff99;
  font-family: 'Covered By Your Grace', cursive;
}

.item{
  border-bottom: solid 1px lightblue;
  padding: 5px;
  margin: 5px;
}

#input{
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 25px;
  border-bottom: solid 1px lightblue;
  border-top: solid 1px lightblue;
}

#input, #list, p{
  font-size: 24px;
}

p{
  border-bottom: solid 1px lightblue;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 0px;
  margin-bottom: 10px;
}

#to-do{
  /*color: red;*/
}

#done{
  color: green;
}

.response{
  color: black;
}

.delete-button{
  margin-left: 15px;
  background-color: red;
}

.completed-button{
  margin-right: 22px;
  margin-left: 13px;
  background-color: white;
}

#addItem{
  margin-left: 15px;
  background-color: white;
}

button{
  vertical-align: middle;
  border-radius: 16px;
}

.complete{
  text-decoration: line-through;
  color: red;
}

.checkmark{
  margin-left: 42px;
  margin-right: 54px;
}

#checkmark-image{
  width: 20px;
}

footer p{
  margin-top: 150px;
  margin-left: 650px;
  font-size: 14px;
}
